height-header = 86px;
height-message-list = 60%;

//::-webkit-scrollbar {
//  width 0;
//}

.message-box {
  height 100vh;
  width 100%;
  overflow hidden;

  .header {
    height height-header;

    h1 {
      margin 10px 0
    }

    h2 {
      margin 5px 0
    }
  }

  .message-list {
    background-color #F5F5F5;

    &.top {
      justify-content flex-end;
      overflow-y hidden;
    }


    height height-message-list;
    display flex;
    flex-direction column-reverse;
    overflow-y auto;
  }

  .user-input-area {
    overflow-y auto
    box-sizing border-box
    border-top 0.33rem solid #EEEEEE
    height 'calc(100% - %s - %s)' % ( height-header height-message-list )
    background-color #F5F5F5
  }
}

@media only screen and (max-height: 480px) {
  .header {
    height 'calc(%s / 2)' % height-header !important;
  }

  .user-input-area {
    height 'calc(100% - %s / 2 - %s)' % ( height-header height-message-list ) !important;
  }

  .header h2 {
    display none
  }
}